
a{text-decoration-line: none;
color: inherit;}
a:hover   { color:#FF0000 }

header #topbar{width:50%;height:30px;float:right;}
header #topbar ul{list-style:none;}
header #topbar ul li{float:right;}
header #logo-area img{width:120px;height:100px padding-bottom:0px;}

nav .menu-box{width:80%;
    height: 50px;
    margin-right:50px;
	float:right;
	border: 1px solid #173386;
	}
nav .menu{width:100%;
      height:100%;
      float:left;
      background-color:#f6f6f6; }
nav .menu ul{list-style:none;}
nav .menu ul li{float:left;
           padding-left: 50px;}

aside .catagory-box{width:120px;
             height: 500px;
             border: 1px solid #173386;
             float:left;}
aside .catagory-box ul{list-style:none;}
aside .catagory-box ul li{padding-bottom:30px;}

article .banner-ad img{width:70%;
              height:30%;
              display: block;    /*이미지가운데정렬방법*/
              margin:0px auto;}  /**/

section .hot-recruit{width:80%;
                height:80%;
                margin-left:auto;
                padding-bottom:10px;
                border:1px solid red;}
section .hot-recruit ul{list-style:decimal;}

section .contest-recruit{width:80%;
                height:80%;
                margin-left:auto;
                padding-bottom:10px;
                border:1px solid red;}
section .contest-recruit ul{list-style:none}

section .hackathon-recruit{width:80%;
                height:80%;
                margin-left:auto;
                padding-bottom:10px;
                border:1px solid red;}
section .hackathon-recruit ul{list-style:none}

section .study-recruit{width:80%;
                height:80%;
                margin-left:auto;
                padding-bottom:10px;
                border:1px solid red;}
section.study-recruit ul{list-style:none}


section .community-contents{width:80%;
                height:80%;
                margin-left:auto;
                padding-bottom:10px;
                border:1px solid red;}
section .community-contents ul{list-style:none}

section .community-catagory-area{margin-top:10px;}
section .community-catagory{width:80%;
                height:80%;
                margin-left:auto;
				
                padding-bottom:10px;
                border:1px solid red;}
section .community-catagoty ul{list-style:none}

section .login-form{text-align:center;}

section .contest-title{font-size:12px;
				margin-left:200px;
				margin-bottom:50px;
				}
section .poster{width:200px;
				height:200px;
				margin-left:200px;
				margin-right:100px;
				}

section .form{margin-left:100px;
	
}				